/* Pen-specific styles */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.25rem;
  font-family: sans-serif;
  line-height: 150%;
  text-shadow: 0 2px 2px #b6701e;
}

section {
  color: #fff;
  text-align: center;
}

div {
  height: 100%;
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

.left-half {
  background-color: #ff9e2c;
  position: absolute;
  left: 0px;
  width: 50%;
}

.right-half {
  background-color: #b6701e;
  position: absolute;
  right: 0px;
  width: 50%;
}
#three-made {
  font-size: 20px;
}
#three-attempted {
  font-size: 20px;
}
#three-percentage {
  font-size: 20px;
}
#mid-made {
  font-size: 20px;
}
#mid-attempted {
  font-size: 20px;
}
#mid-percentage {
  font-size: 20px;
}
#paint-made {
  font-size: 20px;
}
#paint-attempted {
  font-size: 20px;
}
#paint-percentage {
  font-size: 20px;
}
table, td {
    border: 1px solid black;
    font-size: 16px;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
#player-name {
  font-size: 30px;
  margin-bottom: 10px;
  color: black;
}
#file {
  margin-left: 40%;
}
#player-buttons {
  margin-top: 100px;
}
#player-button-wrapper {
  margin-bottom: 10px;
}
